.btn {
    background-color: rgb(71, 71, 71);
    cursor: pointer;
    padding: 0.8rem;
    color: white;
    border: none;
    border-radius: 10px;
    margin: 2px;
}

.btn:hover {
    background-color: #615e5e;
}

.setImg {
    max-width: 20vw;
    max-height: 20vh;
    border-radius: 8px;
}

.pdfPreview {
    max-width: 40vw;
    max-height: 40vh;
}

dialog {
  animation: fade-out 0.7s ease-out;
}

dialog:open {
  animation: fade-in 0.7s ease-out;
}

dialog:open::backdrop {
  animation: backdrop-fade-in 0.7s ease-out forwards;
}

/* Animation keyframes */

@keyframes fade-in {
  0% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }

  100% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }
}

@keyframes fade-out {
  0% {
    opacity: 1;
    transform: scaleY(1);
    display: block;
  }

  100% {
    opacity: 0;
    transform: scaleY(0);
    display: none;
  }
}

@keyframes backdrop-fade-in {
  0% {
    background-color: rgb(0 0 0 / 0%);
  }

  100% {
    background-color: rgb(0 0 0 / 25%);
  }
}

body,
button {
  font-family: system-ui;
}

.check {
  width: 1.2rem;
  height: 1.2rem;
  /* margin-top: 5rem; */
}

#mainCheckBox {
  display: flex;
}

.selectAll {
  width: 1.2rem;
  height: 1.2rem;
  margin-top: 1.1rem;
  margin-left: 1rem;
}

.disabled {
  background-color: gray;
}

.disabled:hover {
  background-color: gray;
  cursor: default;
}