.divider:after,
.divider:before {
content: "";
flex: 1;
height: 1px;
background: #eee;
}
.h-custom {
height: calc(100% - 73px);
}
@media (max-width: 450px) {
.h-custom {
height: 100%;
}
}

.form-outline .form-control.active~.form-label {
    transform: scale(0.8) translateY(-1rem);
    color: #495057;
}

.heading {
    text-align: center;
}

.error {
    color: red;
}

.eye {
    cursor: pointer;
    width: 1.6rem;
    height: 1.6rem;
    margin: 0.5rem;
}

.hide {
    display: none;
}

#error {
    text-align: center;
}